.header-container {
    position: relative;
    padding: 2rem 0;;
    display: flex;
    justify-content: right;
    margin: 5em 20em;
}

.hero-img {
    width: 80%;
    filter: brightness(50%);
}

.hero-info-container {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(247, 245, 242, 0.9);
    border-right: 1em solid #f7f5f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hero-info-container > * {
    background-color: transparent;
}

.hero-info-img {
    aspect-ratio: auto;
    width: 50%;
    filter: brightness(0) saturate(100%) invert(28%) sepia(6%) saturate(3274%) hue-rotate(345deg) brightness(93%) contrast(90%);
}

.sub-title {
    font-size: 2.5rem;
    text-align: center;
}

.read-more-button {
    font-size: 2rem;
    padding: 0.5em 1.5em;
    cursor: pointer;
    outline: none;
    border: 0.15em solid #4d3729;
    border-radius: 2em;
    background-color: #4d3729;
    color: #f7f5f2;
    margin-top: 1.5em;
    font-weight: bolder;
    transition: all 0.4s ease-in-out;
}

.read-more-button:hover {
    border: 0.15em solid #4d3729;
    background-color: #f7f5f2;
    color: #4d3729;
}

.hr-line {
    width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.main-img {
    aspect-ratio: auto;
    width: 100%;
}

.main-img-container {
    width: 40%;
}

 
.main-container {
    padding: 2rem 0;;
    display: flex;
    margin: 5em 20em;
}

.main-info-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5em;
}

.main-title, .contact-title, .contact-information {
    font-size: 4rem;
    margin-bottom: 1em;
    color: #4d3729
}

.main-info {
    font-size: 2rem;
}

